
<div class="container">
    <% if (req.query.status == 'insert-success') { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Berhasil simpan ke database</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
    <h1>Database Barang</h1><hr>
    <div class="row">
        <div class="col-12 text-end">
            <a href="/master/barang/tambah" class="btn btn-primary">+ tambah</a>
        </div>
    </div>
    <% if (barang.length < 1) { %>
        <h3>belum ada barang</h3>
    <% } else { %>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Kode</th>
                    <th>Nama Barang</th>
                </tr>
            </thead>
            <tbody>
                <% barang.forEach( (b)=>{ %>
                    <tr>
                        <td>1</td>
                        <td><%= b.kode %></td>
                        <td><%= b.nama %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } %>
</div>