
<div class="container my-5">
    <div class="row bg-light shadow border-top">
        <div class="col-lg-6 col-sm-12 p-4">
            <img src="/image/mystogan.png" class="rounded w-100 mb-4" alt="foto ilustrasi penyihir">
        </div>
        <div class="col-lg-6 col-sm-12 p-4">
            <main>
                <form>
                    <h1 class="h3 mb-3">Please sign in</h1>
                    <hr><br>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <button class="btn btn-primary my-4" type="submit">Sign in</button>
                    <p class="mt-5 mb-3 text-body-secondary">&copy; 2023, Develop With Love From Aji Kowiyu.</p>
                </form>
            </main>
        </div>
    </div>
</div>
