<div class="container mt-4">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <img src="/image/mystogan.png" class="rounded mb-4" height="200" alt="foto ilustrasi penyihir">
        <h1 class="text-body-emphasis">Selamat datang di Sistem Inventori Kowiyu</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            Sistem inventory secara umum adalah aktivitas logistik dari suatu perusahaan yang berfokus pada sistem pengontrolan data persediaan barang. Tujuan penyimpanannya pun beragam, bisa dilakukan dalam rangka produksi maupun untuk dijual kembali.
        </p>
        <div class="d-inline-flex gap-2">
            <a href="/auth" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill">
                Login
            </a>
        </div>
    </div>
</div>