<h1>Laporan Pergerakan Barang</h1><hr>

<div class="row mb-4">
    <div class="col-4">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Pilih barang
            </button>
            <ul class="dropdown-menu">
                <% listbarang.forEach( (brg)=>{ %>
                    <li>
                        <a class="dropdown-item" href="/laporan/stok/riwayat/<%= brg.kode.toLowerCase() %>">
                            <%= brg.kode %> (<%= brg.nama %>)
                        </a>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>

