<h1>Laporan Pergerakan Barang</h1><hr>

<div class="row mb-4">
    <div class="col-4">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Pilih barang
            </button>
            <ul class="dropdown-menu">
                <% barang.forEach( (brg)=>{ %>
                    <li>
                        <a class="dropdown-item" href="/laporan/stok/riwayat/<%= brg.kode.toLowerCase() %>">
                            <%= brg.kode %> (<%= brg.nama %>)
                        </a>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table table-hover">
            <thead class="table-primary">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>