<!doctype html>
<html lang="id">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Aplikasi Inventori">
        <meta name="author" content="Aji Kowiyu">
        <title>Jumbotrons · Bootstrap v5.3</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    </head>
    <body>
        <%- include(konten) %>
        <script src="/bootstrap/js/bootstrap.bundle.js"></script>
    </body>
</html>
