<!doctype html>
<html lang="id">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Aplikasi Inventori">
        <meta name="author" content="Aji Kowiyu">
        <title>Jumbotrons · Bootstrap v5.3</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
        <style>
            .height-100 {
                height: 100vh;
            }
        </style>
    </head>
    <body>
        <% if (req.session.user) { %>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2 height-100 bg-dark text-light py-3">
                        <ul class="list-group">
                            <li class="list-group-item bg-transparent text-light border-0">
                                <a href="/dashboard" class="text-decoration-none text-light">Dashboard</a>
                            </li>
                            <li class="list-group-item bg-transparent text-light border-0">
                                <a href="/master/barang" class="text-decoration-none text-light">Master Barang</a>
                            </li>
                            <li class="list-group-item bg-transparent text-light border-0">
                                <a href="/stok/masuk" class="text-decoration-none text-light">Stok Masuk</a>
                            </li>
                            <li class="list-group-item bg-transparent text-light border-0">
                                <a href="/stok/keluar" class="text-decoration-none text-light">Stok Keluar</a>
                            </li>
                            <li class="list-group-item bg-transparent text-light border-0">
                                <a href="/laporan/stok/riwayat" class="text-decoration-none text-light">Laporan Riwayat Stok</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-10 height-100 bg-light py-3">
                        <%- include(konten) %>
                    </div>
                </div>
            </div>
        <% } else { %>
            <%- include(konten) %>
        <% } %>
        <script src="/bootstrap/js/bootstrap.bundle.js"></script>
    </body>
</html>
